/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 3.5rem;
    background-color: var(--secondary);
    height: 3.5rem;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 6px -1px rgba(0,0,0,0.30);
}

header > .logo {
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--text-color);
    font-family: 'Play';
}

header > .logo > span {
    color: var(--quartenary);
}

header > .sections-titles {
    display: flex;
    flex-direction: row;
}

header > .sections-titles > li {
    list-style: none;
}

header > .sections-titles > li > a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0 0.5rem;
}

@media (max-width: 1024px) {
    header > .sections-titles {
        display: none;
    }
}